# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart
*.freezed.dart

# Secrets
.env
google-services.json
GoogleService-Info.plist
*-service-account.json

# Firebase
backend/functions/node_modules/
backend/.firebase/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
